@import url('https://fonts.googleapis.com/css2?family=Lato');

@import url('https://fonts.googleapis.com/css2?family=Lato');

body{
    background-color: rgb(58, 8, 37);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 html{
    color: #EBEDEF;
    font: 18px/1.618 sans-serif;
    font-family: 'Lato', sans-serif;
}

a{
    color: #EBEDEF;
    padding: .25rem .5rem;
    text-decoration: none;
}

.container{
    font-family: 'Barlow Condensed', sans-serif;
    background-color: rgb(61, 8, 38);
    background-color: rgb(61, 8, 38,.5);
    margin: 2rem auto;
    max-width: 90rem;
    width: 90%;
    box-shadow: 0px 0px 40px 40px #000000;
    -webkit-box-shadow: 4px 17px 31px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 17px 31px -14px rgba(0,0,0,0.75);
    box-shadow: 4px 17px 31px -14px rgba(0,0,0,0.75);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(72, 10, 45);
    position: sticky;
    top: 0;
  font-family: 'Barlow Condensed', sans-serif;;
}

#header__logo{
    margin-left: 1rem;
    font-style: bold;
}
ul{
  margin:0;
  padding:0;
  display:flex;
}

ul li{
  list-style:none;
  margin:0 20px;
  transition:0.5s;
}

ul li a{
  display: block;
  position:relative;
  text-decoration:none;
  padding:5px;
  font-size:18px;
  font-family: sans-serif;
  color:#fff;
  text-transform:uppercase;
  transition:0.5s;
}

ul:hover li a{
  transform:scale(1.5);
  opacity:0.2;
  filter:blur(5px);
}

ul li a:hover{
  transform:scale(1);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
  color:#fff;
}

ul li a:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.75);
  transition:0.5s;
  transform-origin:right;
  transform:scaleX(0);
  z-index:-1;
}

ul li a:hover:before{
  transition:transform 0.5s;
  transform-origin:left;
  transform:scaleX(1);
}

.profile{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

p{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    font-size: 20px;
}

.profile__image{
    height:180px;
    width: 180px;
    border-radius: 50%;
    margin-right: 20px;
}

.projects__title{
    text-align: center;
    font-size: 50px;
    
}

#projects{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
    margin-bottom: 1rem;
    
}

.projects__column_figure{
    text-align: center;
    padding-right: 3rem;  
    padding-left: 2rem;  
    padding-bottom: 2rem;
    
}

.projects__row{
    padding-left: .5rem;
    padding-right: 1.5rem;
}

.projects__column_title{
   font-size: 30px;
    margin: 1rem;
    text-align: center;
    
}

.projects__column_title:hover{
  background-color: #000000;
  color:whitesmoke;
  border-radius: 1rem;
  transition: .5s;
}
.projects__column_image{
    text-align: center;
    height: auto;
    max-width: 100%;
    border: 1px solid black;
}

.projects__column_image:hover{
    background-color: #000000;
    color: whitesmoke;
    backdrop-filter: blur(10px);
    filter: blur(4px);
    transition: 0.5s ease;
}

.footer{
    background-color: rgb(72, 10, 45);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

#contactInfo{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 2rem;
   padding-bottom: 1rem;
}

.contactInfo__list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copyright{
    margin-left: 1rem;
}

.footer.footer{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  padding-right: 1rem;
}

@media only screen and (max-width: 767px){

    .header{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .header__nav_list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .profile{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .footer__copyright{
        margin: 0;
    }
}